



@media (max-width:576px){

:root {
    --inputTextSize: 20px;
    --inputHeight: 30px;
    --buttonFontSize: 15px;



}
    

.banner {

    border-radius: 4px;
    background-color: green;
    height: 50px;
    width: 100%;
    display:flex;
    align-items: center;
    color:white;
    font-style: italic;
    font-size: 12px;



}

.banner-title {

    margin-left: 5px;

}




.ingreso {
    height: 640px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;

}




.ingreso__formulario {

  border-top: solid 1px;
  height: 350px;
  width: 300px;
  border-bottom: solid 0.5px;
  
 
    


}

.ingreso__contenedor{

    height:300px;
    margin-top:30px;

    
}


.ingreso__text {

    
    font-size: var(--inputTextSize)


}




.ingreso__usuario--input{

    width: 300px;
    height: var(--inputHeight);
    border-radius: 5px;
    border: solid 0.5px  rgba(128, 128, 128, 0.582);
    

    



}

.ingreso__password--input{

    width:300px;
    height:var(--inputHeight);
    border: solid 0.5px  rgba(128, 128, 128, 0.582);
    border-radius: 5px;
    
  

}

.ingreso__button{
    
    height: 50px;
    width:300px;
    margin-top:30px;
    font-size: var(--buttonFontSize);
    border-radius:5px;
    color:white;
    background-color: #003780;
    border-style: none;


    

    
     
}

.ingreso__button--nuevoUsuario{

    margin-top:30px;
    height: 50px;
    width:300px;
    font-size: var(--buttonFontSize);
    border-radius:5px;
    border-style: none;
    color: white;
    background-color: #5EB500;
   






}

}