:root {
    --CabeceroFooterColor: #222031; 
    --letras: #efefef;
    

}
body {

    background-color: #191927;
    color: #efefef;
    font-weight: bold;
}
/*header*/

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;



}
.cabecero {
    background-color: var(--CabeceroFooterColor);
    height: 70px;
    width: 100%;
}
.cabecero__logo{
    display:flex;
    justify-self: flex-start;
    align-items:center;
    height: 71px;
}
.cabecero__logo--imagen {
    width: 25px;
    height:25px;
}
.cabecero__navegacion{
    display:flex;
    justify-self: flex-end;
    align-items: center;
    height: 71px;

}
.cabecero__nav{ 
    
    display:flex;
    justify-self: flex-end;
    align-items:center;
    height: 100%;    
}
.cabecero__lupa {

    background-color: #67676e;
    height:40px;
    width: 40px;
    border-radius: 50%;
    border-style: none;
}
.cabecero__lupa--onClick {
    
    background-color: #67676e;
    height:11px;
    width: 170px;
    padding: 12px 40px;
    border-radius: 15px;
    border-style: none;
    transition: 0.7s;   
    color: var(--letras);
    font-size: 15px;
    
}

.cabecero__lupa--onClick::placeholder {
    color:var(--letras);;
    
}


.cabecero__lupa--image {


}

.span {
    
    float: left;
    margin-top:7%;
    margin-left: 7%;

}

.cabecero__select {
    margin-left: 5%;
    border-radius: 20px;
    width: 120px;
    background-color:#67676e;
    height: 35px;
}

.cabecero__select--button {

    float: right;
    margin-right: 15px;
    background-color:#67676e;
    color: white;
    border-style: none;
    height: 100%;       

}
/* main */

.principal {

    width: 100%;
    height: 100%;

}
.principal__escuchados--title{
    margin-left: 5%;
    font-size: 24px;
}
.principal__images {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 140px;
    gap: 20px;
    grid-template-areas:
      ". .";
    margin-left: 5%;
}
.principal__images--generic{

    border-radius: 10px;
    width: 200px;
    height: 150px;
}
.audio {
    background-color: var(--CabeceroFooterColor);
    border-radius: 5px;
    height: 76px;
    margin-top:11px;
}
.audio__container {
    height: 100%;
    display:flex;
    align-items:center;

}
.audio__album{

    height:45px;
    width: 45px;
    border-radius: 10px;
    margin-left: 5%;
}
.audio__description{
    margin-left: 2%;
}
.audio__description--song {
    font-size: 16px;
    margin-bottom: 0px;
}
.audio__description--author {
    margin-top: 4%;
    font-size: 12px;
}
.audio__reproductor {

  display: grid;
  grid-template-columns: 45px 75px 70px;
  grid-template-rows: 75px;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  align-items: center;
  margin-left:60px;  
}
.audio__reproductor--button{
    width: 16px;
    height: 16px;
}
.audio__reproductor--play{

    background-color: #06BDF3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content:center;
}

