.form {
  display: grid;
  grid-row-gap: 30px;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}

.form__grid {
  display: grid;
  grid-row-gap: 5px;
  grid-template: repeat(2, auto) / 1fr;
}

.form > div {
  display: grid;
  grid-row-gap: 15px;
}

.form__label {
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: 15px;
  font-weight: var(--font-semibold);
}

.form__input {
  background-color: var(--input-secondary);
  border: none;
  border-radius: 3px;
  color: var(--text-third);
  font-family: var(--font-primary);
  font-size: 14px;
  height: 30px;
  padding: 5px;
}

.form__input::placeholder {
  color: var(--text-secondary);
}

.button {
  height: 40px;
  background-color: var(--logo);
  border: 2px solid var(--logo);
  border-radius: 3px;
  color: var(--input-primary);
  font-family: var(--font-primary);
  font-weight: var(--font-bold);
  padding: 0;
}

.button--secondary {
  background-color: transparent;
  color: var(--logo);
  font-weight: var(--font-semibold);
}

.no-error{
  display:none;
}
.error-message {
  display:inline;
  color:rgb(248, 74, 74);
  font-size: 13px;
  font-style: italic
}

.datos-ok {
  display:none;

}

.datos-error {

  display:inline;
  color:rgb(248, 74, 74);
  font-size: 13px;
  font-style: italic;


}