.main {
  background-color: var(--background-primary);
  box-sizing: border-box;
  height: calc(100vh - 146px);
  overflow-y: scroll;
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: var(--scroll-secondary);
}

.main::-webkit-scrollbar:vertical {
  width: 14px;
}

.main::-webkit-scrollbar-button:increment .main::-webkit-scrollbar-button {
  display: none;
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--scroll-primary);
}

.main .limiter {
  height: auto;
  padding: 20px 15px;
}

.section__title {
  color: var(--text-primary);
  font-size: 20px;
  padding-bottom: 15px;
}

.section__content {
  display: grid;
  grid-gap: 20px;
  grid-template: auto / repeat(2, 1fr);
}

.song {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.song__id {
  display: none;
}

.song__name {
  background-color: var(--alpha-dark);
  color: var(--text-primary);
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
}

.song img {
  /* border-radius: 10px;
  height: 100%; */
}

@media (min-width: 576px) {
  .section__content {
    grid-template: auto / repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .main {
    height: calc(100vh - 150px);
  }

  .main .limiter {
    padding: 20px;
  }

  .section__content {
    grid-template: auto / repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .main .limiter {
    padding: 25px 20px;
  }

  .section__content {
    grid-template: auto / repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .main .limiter {
    padding: 30px 20px;
  }

  .section__content {
    grid-template: auto / repeat(6, 1fr);
  }
}
