.main {
  background-color: var(--background-primary);
  box-sizing: border-box;
  overflow-y: scroll;
  transition: height 0.4s ease-in-out;
  user-select: none;
}

.main--banner {
  height: calc(100% - 70px);
  overflow: initial;
  padding: 60px 20px 20px 20px;
}

.main[data-size="short"] {
  height: calc(100vh - 146px);
}

.main[data-size="full"] {
  height: calc(100vh - 70px);
}

.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: var(--scroll-secondary);
}

.main::-webkit-scrollbar:vertical {
  width: 14px;
}

.main::-webkit-scrollbar-button:increment .main::-webkit-scrollbar-button {
  display: none;
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--scroll-primary);
}

.main .limiter {
  height: auto;
  padding: 20px 15px;
}

.section__title {
  color: var(--text-primary);
  font-size: 20px;
  padding-bottom: 15px;
}

.section__content {
  display: grid;
  grid-gap: 20px;
  grid-template: auto / repeat(2, 1fr);
}

.song {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.song__id {
  display: none;
}

.song__name {
  background-color: var(--alpha-dark);
  bottom: 0;
  color: var(--text-primary);
  font-size: 14px;
  left: 0;
  overflow: hidden;
  padding: 5px 10px;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.protector {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.protector--main {
  align-items: center;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99999;
}

.protector--main[data-hidden="false"] {
  display: none;
}

.loader {
  animation: spin 2s linear infinite;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  height: 120px;
  width: 120px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  .section__content {
    grid-template: auto / repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .main[data-size="short"] {
    height: calc(100vh - 150px);
  }

  .main .limiter {
    padding: 20px;
  }

  .section__content {
    grid-template: auto / repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .main .limiter {
    padding: 25px 20px;
  }

  .section__content {
    grid-template: auto / repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .main .limiter {
    padding: 30px 20px;
  }

  .section__content {
    grid-template: auto / repeat(6, 1fr);
  }
}
