.footer {
  background-color: var(--background-secondary);
  height: 76px;
  left: 0;
  position: fixed;
  transition: bottom 0.4s ease-in-out;
  width: 100vw;
  z-index: 999;
  user-select: none;
}

.footer[data-hidden="false"] {
  bottom: 0;
}

.footer[data-hidden="true"] {
  bottom: -76px;
}

.footer > .limiter {
  align-items: center;
  display: grid;
  grid-column-gap: 20px;
  grid-template: 50px / 1fr 130px;
  padding: 16px 15px 10px;
}

.range {
  display: grid;
  grid-column: 1 / 3;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.range span {
  display: none;
}

.range input {
  width: 100%;
  height: 6px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: var(--controls);
  border-radius: 50%;
  height: 12px;
  margin-top: -3px;
  width: 12px;
}

input[type="range"]::-moz-range-thumb {
  background-color: var(--controls);
  border: 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

input[type="range"]::-ms-thumb {
  background-color: var(--controls);
  border: 0;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--controls);
  height: 6px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type="range"]::-moz-range-track {
  background-color: var(--controls);
  height: 6px;
}

input[type="range"]::-ms-track {
  background-color: var(--controls);
  height: 6px;
}

input[type="range"]::-ms-fill-lower {
  background-color: #ff69b4;
}

input[type="range"]::-ms-fill-upper {
  background-color: black;
}

.album {
  display: grid;
  grid-gap: 5px 10px;
  grid-template: repeat(2, 22.5px) / 50px 1fr;
}

.album__banner {
  grid-row: 1 / 3;
}

.album__song {
  color: var(--text-primary);
  font-size: 16px;
  font-weight: var(--font-semibold);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album__artist {
  color: var(--text-third);
  font-size: 12px;
  font-weight: var(--font-regular);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.controls {
  align-items: center;
  display: grid;
  grid-gap: 22.5px;
  grid-template: 45px / 20px 45px 20px;
}

.controls > svg {
  font-size: 20px;
}

.controls__state {
  align-items: center;
  background-color: var(--controls);
  border-radius: 50%;
  display: flex;
  height: 45px;
  justify-content: center;
}

.controls__state svg {
  font-size: 22px;
}

.controls__state > div {
  height: 22px;
}

.controls__state[data-state="play"] .play {
  display: none;
}

.controls__state[data-state="pause"] .pause {
  display: none;
}

@media (min-width: 768px) {
  .footer {
    height: 80px;
    bottom: -80px;
  }

  .footer > .limiter {
    grid-gap: 30px;
    grid-template: 50px / 160px 1fr 130px;
    padding: 15px 20px;
  }

  .range {
    align-items: center;
    border-radius: 3px;
    grid-column: initial;
    grid-column-gap: 10px;
    grid-template: 6px / 36px 1fr 36px;
    position: initial;
  }

  .range > span {
    color: var(--text-primary);
    display: initial;
    font-size: 14px;
    font-weight: var(--font-regular);
  }

  input[type="range"] {
    border-radius: 3px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 3px;
  }

  input[type="range"]::-moz-range-track {
    border-radius: 3px;
  }

  input[type="range"]::-ms-track {
    border-radius: 3px;
  }
}
