:root {
    --CabeceroFooterColor: #222031; 
    --letras: #efefef;
}
body {
    background-color: #191927;
    color: #efefef;
    font-weight: bold;
}

.root, body, html {
    height: 100vh;
}

/* main */

.principal {

    width: 100%;
    height: 100%;

}
.principal__escuchados--title{
    margin-left: 5%;
    font-size: 24px;
}
.principal__images {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 140px;
    gap: 20px;
    grid-template-areas:
      ". .";
    margin-left: 5%;
}
.principal__images--generic{

    border-radius: 10px;
    width: 200px;
    height: 150px;
}
