:root {
  --logo: #06bdf3;
  --controls: #06bdf3;
  --background-primary: #1b1c22;
  --background-secondary: #0f0f10;
  --text-primary: #efefef;
  --text-secondary: #67686c;
  --text-third: #aaaaaa;
  --icon-primary: #efefef;
  --icon-secondary: #67686c;
  --input-primary: #1b1c22;
  --border-primary: #aaaaaa;
  --font-primary: "Poppins", sans-serif;
  --font-regular: 400;
  --font-semibold: 500;
  --font-bold: 600;
  --scroll-primary: #797979;
  --scroll-secondary: #0f0f10;
  --alpha-dark: #00000099;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  overflow: hidden;
}

.limiter {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.iconify {
  color: var(--icon-primary);
}
