body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100vh;
  overflow: scroll;
}

.limiter {
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.iconify {
  color: #efefef;
}
